@import url("https://fonts.googleapis.com/css?family=Barlow:400,700,900|Lato:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 450px;
          flex: 0 0 450px;
  min-height: 100vh;
  background-color: #312450;
  padding: 0px 50px;
}

aside .logo img {
  width: 80%;
  margin: 0 auto;
}

aside ul {
  width: 100%;
  margin-top: 20px;
}

aside ul li {
  border-bottom: 3px solid #765eb3;
  margin-bottom: 60px;
  text-align: right;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

aside ul li a {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 3px;
}

aside ul li:hover {
  border-bottom: 3px solid #b74e91;
}

aside ul li:hover a {
  color: rgba(211, 211, 211, 0.7);
}

aside div {
  text-align: right;
  width: 100%;
}

aside div i {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

aside div i:hover {
  color: #b74e91;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(94, 66, 166, 0.9)), to(rgba(94, 66, 166, 0.9))), url(../img/circle.png);
  background-image: linear-gradient(rgba(94, 66, 166, 0.9), rgba(94, 66, 166, 0.9)), url(../img/circle.png);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header article h1 {
  color: #fff;
  font-size: 5rem;
  margin-bottom: 40px;
}

header article p {
  color: rgba(211, 211, 211, 0.7);
  font-size: 1.7rem;
  margin-bottom: 40px;
}

header article button {
  font-family: "Lato", sans-serif;
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid rgba(211, 211, 211, 0.3);
  border-radius: 30px;
  font-size: 1rem;
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 20px 40px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

header article button:hover {
  background-color: rgba(211, 211, 211, 0.7);
}
/*# sourceMappingURL=style.css.map */