// MIXINS
@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin bgBasic($position: center, $size: cover) {
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;
}

@mixin btn($bgColor, $bgHover) {
    font-family: $textFont;
    background-color: $bgColor;
    text-transform: uppercase;
    border: 2px solid $borderLightGray;
    border-radius: 30px;
    font-size: 1rem;
    margin-top: 20px;
    color: $white;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 20px 40px;
    cursor: pointer;
    transition: background-color $transition;
    &:hover {
        background-color: $bgHover;
    }
}
