@import url("https://fonts.googleapis.com/css?family=Barlow:400,700,900|Lato:300,400,700&display=swap");
$headingsFont: "Barlow", sans-serif;
$textFont: "Lato", sans-serif;
$fontSize: 16px;
$primaryViolet: #5e42a6;
$navColor: #312450;
$firstBg: #5052b5;
$secondBg: #4c4eac;
$thirdBg: #484aa3;
$fourthBg: #b74e91;
$fifthBg: #5e42a6;
$footerBg: #493382;
$white: #fff;
$border: #765eb3;
$lightGray: rgba(211, 211, 211, 0.7);
$borderLightGray: rgba(211, 211, 211, 0.3);
$transition: 0.3s ease;
$py: 70px 0;
// RESET STYLE
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// BASIC STYLE
html {
    scroll-behavior: smooth;
}
body {
    font-family: $textFont;
    font-size: $fontSize;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headingsFont;
    color: $white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}
.container {
    width: 85%;
    margin: 0 auto;
}
